/* @import-normalize; */
/* @import "~normalize.css"; */
@import "Home.css";
/* @import "Header.css";
@import "Login.css";
@import "Register.css";
@import "Dashboard.css";
@import "DashboardData.css"; */

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  padding: 0;
  margin: 0;
  background-color: rgb(35, 33, 35);
}
