
.navBar {
  width: 100%;
  /* top: 0; */
  font-size:1.7rem;
  height: 4rem;
  display: flex;
}

@media screen and (max-width: 768px) {
  .navBar {
   /* margin: auto; */
    font-size: 1.2rem;

  }
}
ul {
  list-style: none;
  justify-content: space-between;
  display: flex;
  /* justify-content: left; */
}
ul li a {
  text-decoration: none;
  color: rgb(225, 219, 219);
  font-weight: bold;
  margin-right: 0.5rem;padding: 1rem;
}

ul li a:hover {
  color: rgb(134, 198, 226);
}
.active a {
  border-bottom: 2px solid rgb(240, 200, 127);
  color: rgb(245, 241, 241);
  /* margin: auto 5rem; */
}
