.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container__header {
  text-align: center;
  font-size: 30px;
 color:white;
}
.card {
  max-width: 400px;
  /* height: 400px; */
  margin: 30px;
  /* padding: 30px; */
  background-color: rgb(49, 48, 48);
  border-radius: 5px;
  color: rgb(245, 241, 235);
  /* padding: 5px; */
  font-size: 16px;
}
.card__photo {
  width: 100%;
}
.card__header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  /* padding-bottom: 5px; */
  /* border-bottom: 2px solid rgb(142, 138, 138); */
}
.card__content {
  padding: 2px 15px;
  padding-bottom: 0px;
  text-align: start;
  font-weight: 500;
}
.pic {
  width: 100%;
  min-height: 200px;
  padding: 5px;
  background-size: cover;

  justify-content: center;
}
.btn {
  display: block;
  /* height: 20px; */
  /* background-color: rgb(64, 61, 61); */
  padding-bottom: 10px;
  /* bottom: 0px; */
  text-align: center;
  text-decoration: none;
  color: rgb(171, 166, 167);
  cursor: pointer;
  font-weight: 800;
}

.card:hover {
  background-color: rgb(62, 62, 62);
  color: white;
  /* cursor: pointer; */
  transform: scale(1.03);
  transition: all 1s ease;
}
