.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.home_title {
  text-align: center;
  font-size: 3.4rem;
  color: rgb(131, 213, 226);
}
.card {
  max-width: 400px;
  /* height: 400px; */
  margin: 4rem;
  /* padding: 30px; */
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  color: rgb(252, 251, 249);
  font-size: 16px;
}
.card__photo {
  width: 100%;
}
.card__header {
  text-align: center;
  font-size: 2rem;
 margin:0rem 2rem;
padding-top: 1rem;
color: rgb(226, 188, 117);
}
.card__content {
  padding:auto 2rem;
  margin:2rem;
  /* padding: 2px 25px; */
  /* text-align: justify; */
  font-weight: 500;font-size: 1.5rem;
}
.pic {
  width: 100%;
  min-height: 200px;
  padding: 5px;
  background-size: cover;

  justify-content: center;
}


.card:hover {
  background-color: rgb(35, 41, 44);
  color: rgb(194, 186, 186);
  /* cursor: pointer; */
  transform: scale(1.01);
  transition: all 1s ease;
}
@media screen and (max-width: 768px) {
  .home_title {
  font-size: 2.5rem;
  padding-top: 2rem;
}

.card__header {
 margin:0rem 2rem;
  font-size: 2rem;
 
}
.card__content {
  margin:1rem 2rem;
  text-align: justify; 
  font-weight: 500;font-size: 1.5rem;
} 

}